<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Greenhouse</title>
    <h1 style="color:black;"align="center">The Greenhouse</h1>

    <style>
h1 {
  font-size: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>

  </head>
  <body>
    <input type="button" id="Start"value="Original Plant"/>
    <input type="button" id="Water"value="Water Plant"/>
    <input type= "button" id ="Fertilizer"value="Fertilize"/>
    <input type= "button" id="Death"value="Kill Me!"/>
  <style>
  body{
    background-image: url("https://ak9.picdn.net/shutterstock/videos/10055033/thumb/1.jpg");
  }
  </style>
    <img src="http://www.clker.com/cliparts/a/b/C/d/Q/7/tall-plant-in-pot.svg"
        alt="plant1"
        style="width:304px;height:504px"
        class="leftimg">
    <img src="http://www.clker.com/cliparts/a/b/C/d/Q/7/tall-plant-in-pot.svg"
        alt="plant3"
        style="width:304px;height:504px"
        class="rightimg">

        <ul>
          <!-- <li><a class="active" href="{{ logout_url }}">Log out</a></li> -->
          <li><a href="#about">  </a></li>
        </ul>
        <script src="/static/processing.js"></script>
        <script type="text/processing" data-processing-target="startingFlower">
        void setup()
        {
          size(400,400);
          frameRate(20);
          fill(0);
        }
        var xPositions = [241, 233, 207,194, 199,166, 210, 169];
        var yPositions = [104, 152, 112,198,131,118,89,161];
        void draw() {
            //sky
            background(207, 250, 255);
            //ground
            fill(64, 40, 40);
            rect(0, 381, 401, 23);
            //stem
            fill(16, 122, 12);
            rect(200, 240, 10, 165);
            //petals
            stroke(0, 0, 0);
            fill(255, 221, 0);
            ellipse(175, 211, 50, 40);
            ellipse(205, 180, 50, 40);
            ellipse(205, 240, 50, 40);
            ellipse(235, 211, 50, 40);
            fill(20,20,20);
            ellipse(205, 211, 40, 28);
          }
          $(() => {
            $('#Start').click(function() {
            $('#startingFlower').show();;
            })
          })
          $(() => {
            $('#Fertilizer').click(function() {
            $('#startingFlower').hide();;
            $('#startingFlower').stop();;
            })
          })
          $(() => {
            $('#Water').click(function() {
            $('#startingFlower').hide();;
            $('#startingFlower').stop();;
            })
          })
          $(() => {
            $('#Death').click(function() {
            $('#startingFlower').hide();;
            $('#startingFlower').stop();;
            })
          })
          </script>
          <canvas id="startingFlower"
          class="canvasalign"></canvas>



        <script src="/static/processing.js"></script>
        <script type="text/processing" data-processing-target="waterFlower">
                  void setup()
                  {
                    size(400,400);
                    frameRate(20);
                    fill(0);
                  }
                  var xPositions = [241, 233, 207,194, 199,166, 210, 169];
                  var yPositions = [104, 152, 112,198,131,118,89,161];
                  void draw() {
                      //sky
                      background(207, 250, 255);
                      //ground
                      fill(64, 40, 40);
                      rect(0, 381, 401, 23);
                      //stem
                      fill(16, 122, 12);
                      rect(200, 240, 10, 165);
                      //petals
                      stroke(0, 0, 0);
                      fill(255, 221, 0);
                      ellipse(175, 211, 50, 40);
                      ellipse(205, 180, 50, 40);
                      ellipse(205, 240, 50, 40);
                      ellipse(235, 211, 50, 40);
                      fill(20,20,20);
                      ellipse(205, 211, 40, 28);
                      //wateringCan
                          fill(255, 255, 255);
                          noStroke();
                          ellipse(139,67,53, 65);
                          ellipse(205,20,111, 65);
                          ellipse(254,49,64, 59);
                          fill(252, 252, 252);
                          ellipse(158,41,53, 65);
                          fill(252, 252, 252);
                          ellipse(190,68,107, 65);
                          ellipse(251,60,88, 65);

                          for (var i = 0; i < xPositions.length; i++) {
                              stroke(0, 0, 0);
                              fill(0, 200, 255);
                              ellipse(xPositions[i], yPositions[i], 10, 10);
                              yPositions[i] += 4;
                              if (yPositions[i] > 380) {
                           yPositions[i] = 95;}
                        }
                  };
                  $(() => {
                    $('#Start').click(function() {
                    $('#waterFlower').hide();;
                    $('#waterFlower').stop();;
                    })
                  })
                  $(() => {
                    $('#Fertilizer').click(function() {
                    $('#waterFlower').hide();;
                    $('#waterFlower').stop();;
                    })
                  })
                  $(() => {
                    $('#Water').click(function() {
                    $('#waterFlower').show();;
                    })
                  })
                  $(() => {
                    $('#Death').click(function() {
                    $('#waterFlower').hide();;
                    $('#waterFlower').stop();;
                    })
                  })
          </script>
          <canvas id="waterFlower"
          class="canvasalign"></canvas>


          <script src="/static/processing.js"></script>
          <script type="text/processing" data-processing-target="fertilizeFlower">
                    void setup()
                    {
                      size(400,400);
                      frameRate(20);
                      fill(0);
                    }
                    var xPositions = [225, 232, 184,194, 199,166, 210, 169];
                    var yPositions = [26, 90, 42,66,131,118,89,35];
                    void draw() {
                        //sky
                        background(207, 250, 255);
                        //ground
                        fill(64, 40, 40);
                        rect(0, 381, 399, 23);
                        //stem
                        fill(16, 122, 12);
                        rect(200, 240, 10, 165);
                        //petals
                        stroke(0, 0, 0);
                        fill(255, 221, 0);
                        ellipse(175, 211, 50, 40);
                        ellipse(205, 180, 50, 40);
                        ellipse(205, 240, 50, 40);
                        ellipse(235, 211, 50, 40);
                        fill(20,20,20);
                        ellipse(205, 211, 40, 28);
                        //fertilizer
                            noFill();
                            strokeWeight(4);
                            arc(284, 40, 58, 48, 180, 360);
                            strokeWeight(1);
                            fill(143, 143, 143);
                            rect(243, 40, 110, 68,10);

                            for (var i = 0; i < xPositions.length; i++) {
                                stroke(0, 0, 0);
                                fill(227, 229, 230);
                                ellipse(xPositions[i], yPositions[i], 10, 10);
                                yPositions[i] += 4;
                                if (yPositions[i] > 374) {
                             yPositions[i] = 92;}
                            }
                    };
                    $(() => {
                      $('#Start').click(function() {
                      $('#fertilizeFlower').hide();;
                      $('#fertilizeFlower').stop();;
                      })
                    })
                    $(() => {
                      $('#Fertilizer').click(function() {
                      $('#fertilizeFlower').show();;
                      })
                    })
                    $(() => {
                      $('#Water').click(function() {
                      $('#fertilizeFlower').hide();;
                      $('#fertilizeFlower').stop();;
                      })
                    })
                    $(() => {
                      $('#Death').click(function() {
                      $('#fertilizeFlower').hide();;
                      $('#fertilizeFlower').stop();;
                      })
                    })
            </script>
            <canvas id="fertilizeFlower"
            class="canvasalign"></canvas>


            <script src="/static/processing.js"></script>
            <script type="text/processing" data-processing-target="deadFlower">
                      void setup()
                      {
                        size(400,400);
                        frameRate(20);
                        fill(0);
                      }
                  void draw() {
                    var Flower = function (x, y, height) {
        this.x = x;
        this.y = y;
        this.height = height;
        };
        var WiltedSf = function(x, y, height) {
        Flower.call(this, x, y, height);
        };
        WiltedSf.prototype = Object.create(Flower.prototype);

        WiltedSf.prototype.draw = function() {
        fill(107, 79, 86);
        rect(this.x, this.y, 10, -this.height);
        //ground
        fill(130, 108, 108);
        rect(0, 381, 399, 23);

        // petals
        stroke(0, 0, 0);
        fill(176, 161, 65);
        ellipse(this.x-45, this.y- 30, 50, 40);
        ellipse(this.x+73, this.y-34, 50, 40);
        ellipse(this.x+32, this.y-34, 50, 40);
        ellipse(this.x+-20, this.y-39, 40, 54);
        fill(20, 20, 20);
        ellipse(this.x+5, this.y-this.height, 40, 28);
        };

        var wiltedSf = new WiltedSf(199, 419, 165);


        var drawScene4 = function() {
        background(207, 250, 255);
        wiltedSf.draw();
        };
        drawScene4();
        }
        $(() => {
          $('#Start').click(function() {
          $('#deadFlower').hide();;
          $('#deadFlower').stop();;
          })
        })
        $(() => {
          $('#Fertilizer').click(function() {
          $('#deadFlower').hide();;
          $('#deadFlower').stop();;
          })
        })
        $(() => {
          $('#Water').click(function() {
          $('#deadFlower').hide();;
          $('#deadFlower').stop();;
          })
        })
        $(() => {
          $('#Death').click(function() {
          $('#deadFlower').show();;
          })
        })
              </script>
              <canvas id="deadFlower"
              class="canvasalign"></canvas>
              <script src = "http://code.jquery.com/jquery-2.1.4.min.js"></script>
        </body>

  <style>
  .leftimg{
    float:left;
  }
  .rightimg{
    float:right;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  .canvasalign{
    display: block;
    margin: 0 auto;
    border: 3px solid;
  }
  </style>
</html>
